$masthead: #3D3B3C;
$background: #ede6e3;

$text-dark: #3b3b3b;
$text-grey: #b5b5b6;
$text-light: #f8f8f8;
$highlight-shadow: #bc5860;

$primary-blue: #57b1f9;
$primary-orange: #F06449;

$clock-high:   #ec7975;
$clock-medium: #e3bb76;
$clock-low:    #7cc065;
