@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-collapsing-on($break-size) {
    display: flex;
    flex-direction: column;

    @media (min-width: $break-size) {
        flex-direction: row;
    }
}
